- page_title s_('IdentityVerification|Help us keep GitLab secure')

= render_if_exists 'devise/shared/delete_unconfirmed_users_flash'

%div{ data: { track_action: 'render', track_label: onboarding_status.tracking_label } }
  #js-identity-verification{ data: identity_verification_data(@user) }
